.hero-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: #030014; */
    background-color: #030E2C;
    /* background-image: url("../../assets/images/bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:initial;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}


.hero-text-container.hero-wie-code {
    position: relative;
    font-size: 11rem;
    padding: 2rem 0rem;
    color:#464242;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    letter-spacing: 0.8rem;
}

.hero-text-container.hero-wie-code span{
    width: 100%;
    color: #92E6FF;
    display: flex;
    justify-content: center;
    align-items: center;

}


.hero-text-container.hero-year {
    position: relative;
    font-size: 12rem;
    width: 100%;
    color: rgb(142, 143, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    letter-spacing: 0.8rem;
}

.hero-text-container.organized-text{
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}
.hero-text-container.organized-text span{
    font-size: 4rem;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255, 255, 255,0.1));
    color: rgb(119, 82, 254);
    line-height: 0.9em;

}

.hero-gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-size:auto;
    mix-blend-mode:lighten;
}

.hero-gif-sub-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-gif {
    width: 90%;
    height: 90%;
    border-radius: 10px;

}

.event-details {
    height: 100vh;
    width: 100%;
    background-color: #030E2C;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.event-title{
    color: rgb(247, 249, 252);
    font-size: 7rem;
    letter-spacing: 0.8rem;
}
.event-det-first{
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    text-align: center;
}
.event-det-second{
    height: 38%;
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .event-det-second img{
    height: 240px;
} */
.event-det-date {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 50%;
    margin-left: 7rem;
    padding-top: 2rem;
}

.event-det-date-second {
    height: 15rem;
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 50%;
    margin-left: 7rem;
    padding-top: 0rem;
}

.event-det-date span{
    font-size: 5rem;
    width: 100%;
}

.event-det-date .event-heading{
    color: #39A7FF;
    font-size: 3rem;
}

.event-det-date .event-desc{
    color: #FFFFFF;
    font-size: 3rem;
}

.event-det-date-second .event-heading{
    color: #39A7FF;
    font-size: 3rem;
}

.event-det-date-second .event-desc{
    color: #FFFFFF;
    font-size: 3rem;
}
.event-det-second-without-lines{
display: none;
}
.idea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 5rem;
    background-color: #030E2C;
}

.idea-text-container{
    width: 50%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    font-weight:bold;
}
.idea-theme-title{
    font-size: 5rem;
    opacity: 1;
    padding-bottom: 5rem;
    letter-spacing: 1rem;
}

.idea-theme-desc{
    font-size: 3rem;
    opacity: 0.7;
    padding-top: 2rem;

}
.idea-theme{
    font-size: 6rem;
    color: #00F2FF;
    font-weight: bolder;
    padding-top: 3rem;
    letter-spacing: 0.8rem;
}

.idea-img-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.idea-img-container img{
    width: 90%;
}


@media only screen  and (max-device-width: 480px)and (min-device-width: 320px)  {
    .hero-main-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .hero-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hero-text-container.hero-wie-code {
        position: relative;
        font-size: 7rem;
        padding: 2rem 0rem;
        color:#464242;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        letter-spacing: 0.8rem;
    }
    
    .hero-text-container.hero-wie-code span{
        width: 100%;
        color: #92E6FF;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    
    .hero-text-container.hero-year {
        position: relative;
        font-size: 7rem;
        width: 100%;
        color: rgb(142, 143, 250);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        letter-spacing: 0.8rem;
    }
    
    .hero-text-container.organized-text{
        width: 100%;
        text-align: center;
        padding: 2rem 0rem;
    }
    .hero-text-container.organized-text span{
        font-size: 4rem;
        width: 100%;
        -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255, 255, 255,0.1));
        color: rgb(119, 82, 254);
        line-height: 0.9em;
    }
    .hero-gif-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .hero-gif-sub-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-gif {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    
    }

    .idea{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 5rem;
        background-color: #030E2C;
    }
    
    .idea-text-container{
        width: 90%;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        text-align: center;
        font-weight:bold;
    }
    .idea-theme-title{
        font-size: 5rem;
        opacity: 1;
        padding-bottom: 5rem;
        letter-spacing: 1rem;
    }
    
    .idea-theme-desc{
        font-size: 3rem;
        opacity: 0.7;
        padding-top: 2rem;
    
    }
    .idea-theme{
        font-size: 5rem;
        color: #00F2FF;
        font-weight: bolder;
        padding-top: 3rem;
        letter-spacing: 0.8rem;
    }
    
    .idea-img-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .idea-img-container img{
        width: 90%;
    }
    .event-details {
        /* height: 100vh; */
        width: 100%;
        background-color: #030E2C;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }
    .event-title{
        color: rgb(247, 249, 252);
        font-size: 3rem;
        letter-spacing: 0.8rem;
        text-align: center;
    }
    .event-det-first{
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        text-align: center;
    }
    .event-det-second{
        display: none;
    }
    .event-det-second-without-lines{
        /* height: 60%; */
        margin-top: 5rem;
        /* padding-top: 2rem; */
        position: absolute;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .event-det-second-without-lines img{
        width: 100%;
        height: 50%;
    }
    .event-det-date {
        display: flex;
        flex-direction: column;
        height: 10rem;
        width: 50%;
        margin-left: 5rem;
        margin-right: 2rem;
        padding-top: 2rem;
    }
    
    .event-det-date-second {
        height: 15rem;
        display: flex;
        flex-direction: column;
        height: 10rem;
        width: 50%;
        margin-left: 3rem;
        margin-right: 2rem;

        padding-top: 0rem;
    }
    
    .event-det-date span{
        font-size: 1rem;
        width: 100%;
    }
    
    .event-det-date .event-heading{
        color: #39A7FF;
        font-size: 2rem;
    }
    
    .event-det-date .event-desc{
        color: #FFFFFF;
        font-size: 2rem;
    }
    
    .event-det-date-second .event-heading{
        color: #39A7FF;
        font-size: 2rem;
    }
    
    .event-det-date-second .event-desc{
        color: #FFFFFF;
        font-size: 2rem;
    }

    
}


@media only screen  and (max-device-width: 768px)and (min-device-width: 481px)  {
    .hero-main-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .hero-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hero-text-container.hero-wie-code {
        position: relative;
        font-size: 8rem;
        padding: 2rem 0rem;
        color:#464242;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        letter-spacing: 0.8rem;
    }
    
    .hero-text-container.hero-wie-code span{
        width: 100%;
        color: #92E6FF;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    
    .hero-text-container.hero-year {
        position: relative;
        font-size: 6rem;
        width: 100%;
        color: rgb(142, 143, 250);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        letter-spacing: 0.8rem;
    }
    
    .hero-text-container.organized-text{
        width: 100%;
        text-align: center;
        padding: 2rem 0rem;
    }
    .hero-text-container.organized-text span{
        font-size: 4rem;
        width: 100%;
        -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255, 255, 255,0.1));
        color: rgb(119, 82, 254);
        line-height: 0.9em;
    }

    .hero-gif-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .hero-gif-sub-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-gif {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    
    }

    .idea{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 5rem;
        background-color: #030E2C;
    }
    
    .idea-text-container{
        width: 90%;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        text-align: center;
        font-weight:bold;
    }
    .idea-theme-title{
        font-size: 5rem;
        opacity: 1;
        padding-bottom: 5rem;
        letter-spacing: 1rem;
    }
    
    .idea-theme-desc{
        font-size: 3rem;
        opacity: 0.7;
        padding-top: 2rem;
    
    }
    .idea-theme{
        font-size: 6rem;
        color: #00F2FF;
        font-weight: bolder;
        padding-top: 3rem;
        letter-spacing: 0.8rem;
    }
    
    .idea-img-container{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .idea-img-container img{
        width: 90%;
    }

    .event-details {
        /* height: 100vh; */
        width: 100%;
        background-color: #030E2C;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }
    .event-title{
        color: rgb(247, 249, 252);
        font-size: 4rem;
        letter-spacing: 0.8rem;
    }
    .event-det-first{
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        text-align: center;
    }
    .event-det-second{
        display: none;
    }
    .event-det-second-without-lines{
        height: 60%;
        margin-top: 5rem;
        padding-top: 2rem;
        position: absolute;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .event-det-second-without-lines img{
        width: 100%;
        height: 50%;
    }
    .event-det-date {
        display: flex;
        flex-direction: column;
        height: 10rem;
        width: 50%;
        margin-left: 5rem;
        margin-right: 2rem;
        padding-top: 2rem;
    }
    
    .event-det-date-second {
        height: 15rem;
        display: flex;
        flex-direction: column;
        height: 10rem;
        width: 50%;
        margin-left: 3rem;
        margin-right: 2rem;

        padding-top: 0rem;
    }
    
    .event-det-date span{
        font-size: 1rem;
        width: 100%;
    }
    
    .event-det-date .event-heading{
        color: #39A7FF;
        font-size: 2.5rem;
    }
    
    .event-det-date .event-desc{
        color: #FFFFFF;
        font-size: 2.5rem;
    }
    
    .event-det-date-second .event-heading{
        color: #39A7FF;
        font-size: 2.5rem;
    }
    
    .event-det-date-second .event-desc{
        color: #FFFFFF;
        font-size: 2.5rem;
    }

    
}