.domain-container{
    display: flex;
    flex-direction: column;
}

.dom-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 30px;
}
.dom-heading h1{
    font-family: Quantico,sans-serif;
    font-size: 55px;
    color: #190482;
}

.card-d-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 200px;
}

@media only screen and (max-width: 600px) {
    .card-d-container{
        padding: 100px 20px;
    }
}