.domain-container{
    padding-top: 80px;
    /* background-color:  #030c26; */
    /* background: rgb(34,34,71);
    background: linear-gradient(196deg, rgba(34,34,71,0.5) 20%, rgba(4,1,17,0.5) 40%, rgba(34,34,71,0.5) 60%, rgba(4,1,17,0.5) 80%, rgba(34,34,71,0.5) 100%); */
    background-color: #030E2C;
}

.domain-mini-container{
    display: flex;
    flex-direction: column;
    margin: 50px; 
    /* margin-top: 50px; */
    /* background-color: rgb(3, 14, 44, 0.2); */
    /* background-color: rgba(5,1,19,0.5); */
    /* background: rgb(34,34,71);
    background: linear-gradient(196deg, rgba(34,34,71,0.5) 20%, rgba(4,1,17,0.5) 40%, rgba(34,34,71,0.5) 60%, rgba(4,1,17,0.5) 80%, rgba(34,34,71,0.5) 100%); */
}

.dom-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px 0px 0px 50px; */
}
.dom-heading h1{
    font-size: 7rem;
    color: #92E6FF;
    letter-spacing: 0.8rem;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
}
.dom-heading h1::after{
    content: "";
    width: 50%; 
    height: 1px; 
    background-color: #92E6FF;
    position: absolute;
    bottom: -4px;
    left: 24%; 
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    transform-origin: center; 
}
.dom-heading h1:hover::after {
    width: 100%; 
    left: 0; 
}

.card-d-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    flex-wrap: wrap;
    gap: 100px 100px;
    padding: 50px 60px;
}

@media only screen and (max-width: 900px) {
    .card-d-container{
        padding: 100px 20px;
    }
    .domain-mini-container{
        margin: 30px;
    }
    
}

@media only screen and (max-width: 480px) {
    .card-mini-container{
        margin: 0px;
        padding: 100px 0px;
    }
    .dom-heading h1{
        font-size: 5rem;
    }
    .domain-mini-container{
        margin: 40px;
    }
}