.main-container{
    display: flex;
    justify-content: center;
    background: rgb(127,10,30);
    background: linear-gradient(90deg, rgba(127,10,30,1) 1%, rgba(53,7,20,1) 51%);
}

.text-container{
    width: 60%;
    background-color: #fff;
    opacity: 0.4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3rem;
    padding: 80px 30px;
    margin: 50px;
}

img{
    opacity: 0.5;
    margin-top: 20px;
    padding: 10px;
}



/* background: rgb(127,10,30);
    background: linear-gradient(90deg, rgba(127,10,30,1) 1%, rgba(53,7,20,1) 51%); */