.main-container{
    background: rgb(3,14,44);
    background: linear-gradient(0deg, rgba(3,14,44,1) 0%, rgba(0,12,70,1) 47%, rgba(3,14,44,1) 100%);
    max-height: 100vh;
}
.mini-desc-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    max-width: 50%;
}
.text-mini-container{
    padding: 20px;
    width: 100%;
    background-color: #fff;
    opacity: 0.4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px; */
    line-height: 3rem;
}


.text-container p{
    font-size: 18px;
    /* padding: 50px 30px 50px 30px; */
}
.text-container h1{
    font-size: 40px;
    /* padding: 50px 20px 0px 50px; */
    line-height: 4.9rem;
}
.desc-img{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imaage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .mini-desc-container{
        flex-direction: column-reverse;
        margin: auto;
    }
    
    .text-container h1{
        line-height:4rem;
        font-size: 5rem;
    }
    .text-container p{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .desc-img{
        display: none;
    }
    .text-mini-container{
        width: 100%;
    }
    .text-mini-container{
        padding: 50px;
    }
    
}