.content_div1 {
  color: white;
  margin-top: 0px;
  background: url(../assets/images/_ca58fc64-19d1-4e1e-890b-eaef4d3f0542.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 715px;
}
.content_div1 h1{
   margin-top: 10px;
   padding-left:35px;
   letter-spacing: 1.25px;
   font-weight: 300;
   font-size: 60px;
}

.a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  letter-spacing: 4px;
}

.create a {
  color: #fff;
  font-size: medium;
  letter-spacing: 0.75px;
}

.create a span {
  font-size: 11px;
  color: #C2D9FF;
}

.create label {
  text-align: left;
  display: block;
  padding: 6px;
  font-weight: 20px;
  font-size: large;
}

.create text {
  padding-bottom: 6px;
  font-size: medium;
}

.create {
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create input,
.create select {
  width: 60%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
}

.button_register {
  background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
  border: none;
  margin: 10px;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 0px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 50%, 80% 100%, 20% 100%, 0 100%, 0 46%);
  display: inline-block;
  width: 150px;
  cursor: pointer;
  font-weight: 700
}



.a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  letter-spacing: 4px;
}

.create a{
    color: #fff;
    font-size: medium;
    letter-spacing: 0.75px;
  }

.a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  letter-spacing: 4px;
}

.form-footer{
  display: flex;
  justify-content: space-between;
}

