.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 270px;
    background-color: #3E1F30;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.container:hover{
    /* height: 350px; */
    background-color: #1E1E32;
    border: 1px solid red;
    border-top: none;
} 

.top{
    position: absolute;
    top:5px;
    width: 200px;
    height: 200px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    width: 75%;
    height: 75%;
    object-fit: cover;
    
}

.container:hover > .top{
    top:-100px;
    scale: 0.80;
    
}

.content{
    position: absolute;
    top:200px;
    width: 100%;
    height:35px;
    overflow: hidden;
    text-align: center;
    transition: 1s;
    color: #F02828;
    /* color: aliceblue; */
}

.container:hover > .content{
    top: 100px;
    height: 250px;
}

.content h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
}

.expl-btn{
    cursor: pointer;
    margin-top:40px;
    padding: 10px;
    border: 1px solid red;
    background-color: lightcoral;
    border-radius: 10px;
    color: white;
}