.footer-p{
    height: 5vh;
    background-color: black;
    color: ivory;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-main-container{
    background-color: #030E2C;;
}
.heading-primary--sub-skyblue{
    /* margin: 3vh; */
    color: ivory;
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

/* .contact-icons .con-icons i{
    color: ivory;
    height: 4.5vh;
width: 4.5vh;
} */
.con-icons{
/* border: 1px red solid; */
margin: 1vh;
height: 4.55vh;
width: 4.5vh;
transition: all .3s ease;
/* mix-blend-mode:color-dodge; */
}

/* img{
    width: 4.5vh;
    height: 4.5vh;
} */
.con-icons:hover{
    transform: scale(1.2);
}